nav {
    background: #fff;
}

.line {
    border: 1px solid #BF8A3D;
    margin: 8px 28px ;
    border-radius: 10px;
}

.box {
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: center;
}

nav > p {
    padding: 10px 0px 5px 0px;
    color: #BF8A3D;
    font-size: 14px;
    font-weight: Bold;
    letter-spacing: 7px;
    text-shadow: 0px 0px 15px rgba(191, 138, 61, 0.2);
    text-align: center;
}