h1 {
    color: #cc4e5c;
    margin: 20px 10%; /* Utilisation de % pour la marge */
    text-align: center; /* Centrage du texte */
}

p {
    color: rgba(31, 23, 23, 0.4);
    margin: -5px 10%; /* Utilisation de % pour la marge */
    text-align: center; /* Centrage du texte */
}

.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage des éléments enfants */
    gap: 25px;
    width: 80%; /* Utilisation de % pour la largeur */
    max-width: 600px; /* Limitation de la largeur maximale */
    margin: 0 auto; /* Centrage horizontal */
}

.input {
    display: flex;
    align-items: center;
    width: 100%; /* Utilisation de % pour la largeur */
    max-width: 480px; /* Limitation de la largeur maximale */
    height: 80px;
    border: 1px solid #cc4e5c;
    border-radius: 6px;
}

.input img {
    margin: 0 15px;
}

.input input, .input select {
    flex: 1; /* Pour que les champs s'expandent */
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: #1f1717;
}

.submit_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 60px auto;
    width: 80%; /* Utilisation de % pour la largeur */
    max-width: 600px; /* Limitation de la largeur maximale */
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 59px;
    color: #cc4e5c;
    box-shadow: 0 0 15px rgba(204, 78, 92, 0.1);
    background: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    border-radius: 10px;
    width: 100%; /* Utilisation de % pour la largeur */
    max-width: 500px; /* Limitation de la largeur maximale */
}

@media screen and (max-width: 768px) {
    /* Styles spécifiques pour les écrans de largeur maximale de 768px */
    .input {
        width: 100%; /* Réduire la largeur pour les écrans plus petits */
        max-width: none; /* Supprimer la limitation de largeur maximale */
    }
    .submit_container {
        flex-direction: column; /* Empiler les boutons sur les petits écrans */
        align-items: center;
    }
}
